#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
}

.mainContainer {
  width: 320px;
  height: 780px;
  background-color: #1a1b21;
}

.info *,
.main * {
  margin: 5px auto;
}

.info--img {
  height: 300px;
  width: 100%;
  margin: 0;
  object-fit: cover;
}
.info--text {
  padding: 20px 20px 0 20px;
}

.info--name {
  font-size: 26px;
  color: #ffffff;
}

.info--title {
  font-size: 18px;
  font-weight: 400;
  color: #f3bf99;
}

.info--company {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}

.info--button {
  background-color: #ffffff;
  color: #1a1b21;
  padding: 12px 20px;
  border-radius: 8px;
}

.main {
  padding: 20px;
  text-align: left;
}
.main h2 {
  font-size: 18px;
}

.main p {
  font-size: 12px;
}

.footer {
  background-color: #161619;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
